language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  include:
    - php: hhvm
      dist: trusty

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer require --dev --no-update squizlabs/php_codesniffer
  - travis_retry composer install --prefer-dist --no-interaction

script:
  - vendor/bin/phpcs
  - vendor/bin/phpunit --coverage-text --exclude-group integration
