language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - phpunit --coverage-text --exclude-group integration

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true